{% extends "@Website/base.html.twig" %}

{% block body %}
Tu mets le contenu que tu veux va voir <a href="https://materializecss.com/" target="_blank">Materialize</a> pour la mise en forme
{% endblock %}