<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font.css') }}" />

        <script src="{{ asset('js/jquery-3-3-1.min.js') }}"></script>
        <script src="{{ asset('js/materialize.min.js') }}"></script>

        <meta charset="UTF-8">
        <title>{% block title %}Expedigame{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">Logo</a>
                    <a href="#" data-target="slide-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">Se connecter</a></li>
                    </ul>
                </div>
            </nav>

            <ul id="slide-menu" class="sidenav">
                <li><a href="#!">Se connecter</a></li>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
   <script type="text/javascript">
        $(document).ready(function(){
           $('.sidenav').sidenav();
        });
    </script> 
</html>